header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.favoritos {
    font-size: 1.125rem;
    color: #c4c4c4;
}

a{
    text-decoration: none;
}